In [17]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import regex as re

In [18]:
# I import the shark attacks csv file from folder
attacks = pd.read_csv("DATA/attacks.csv", encoding = "ISO-8859-1", index_col = 'original order')
attacks.head()
# I also assigned the original order column as the index of the data frame

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
original order,,,,,,,,,,,,,,,,,,,,,,,
6303.0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,NaN,NaN
6302.0,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,NaN,NaN
6301.0,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,NaN,NaN
6300.0,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,NaN,NaN
6299.0,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,NaN,NaN

In [19]:
attacks.shape

(25723, 23)

In [20]:
# I want to be able to observe all the given columns of the data set that are not visible now
attacks = pd.set_option('display.max_columns', 24)
attacks

In [22]:
# I clean the column titles from spaces as they can bring problems when refering to them
attacks = atatcks.columns.str.replace(' ', '')
attacks.head()

AttributeError: module 'pandas' has no attribute 'columns'

In [ ]:
# I observe how the last rows are completely full of NaNs
attacks.tail()

In [ ]:
# We can see how the data frame is completely full of NaNs
attacks = attacks.isnull().sum()
attacks

In [ ]:
# Some columns are apparently full of NaNs
attacks["Unnamed:22"]

In [ ]:
# I sort the order of the index
attacks.sort_index()

In [ ]:
# The two columns with numeric data in the data frame are:
attacks._get_numeric_data()
atatcks.head()

In [ ]:
nums.sort_index()

In [ ]:
# I visualize the columns I have
attacks.columns

In [ ]:
# I change the column names to one that easier ones and indicate those I want to erase with "Borrar"
attacks.rename(columns['Date', 'Borrar_1', 'Borra_2', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal(Y/N)', 'Time',
       'Species', 'InvestigatororSource', 'pdf', 'href', 'Borrar_3',
       'Borrar_4', 'Borrar_5', 'Borrar_6', 'Borrar_7']

In [ ]:
attacks.head()

In [ ]:
# I erase those columns I do not need in I new variable to prepare my data frame for hypothesis
attacks = attacks.drop(['Borrar_1', 'Borrar_3',
       'Borrar_4', 'Borrar_5', 'Borrar_6', 'Borrar_7'], axis = 1)

In [ ]:
attacks.shape

In [ ]:
# Change name of column to year
attacks.rename(columns={'Borra_2': 'Year'}, inplace=True)

In [ ]:
attacks.head()

In [ ]:
# Sort and match index with the Case Numbers in cronological order
atatcks.index.names = ['Case_Number']

In [ ]:
attacks.sort_index(0, int, True)

In [ ]:
# Establish the range of the index
mi_lista = df.index[0:6301]

In [ ]:
len(mi_lista)

In [ ]:
# filter the rows below the established index as they do not serve the purpose of the study
filt_attacks = attacks.loc[mi_lista]

In [ ]:
filt_attacks = filt_attacks.dropna(axis=0, how='all')
#Nos aseguramos que no queda ninguna fila entera de NaNs

In [ ]:
filt_attacks

In [ ]:
# Borramos filas con un 30% o más de NaNs
perc = 30.0 # N es 75
min_count = int(((100-perc)/100)*filt_attacks.shape[1]+1)
nona_attacks = filt_attacks.dropna(axis=0, thresh=min_count)

In [ ]:
nona_attacks

In [ ]:
nona_attacks.shape

In [ ]:
nona_attacks['Year'].replace('0', 'no_year', regex=True)

In [ ]:
nona_attacks.info()

In [ ]:
from SRC import cleaning_functions.ipynb as cf

In [ ]:
#Covertir en datetime
nona_attacks.Date = pd.to_datetime(nona_attacks.Date)

In [ ]:
nona_attacks.to_csv("VISUAL.ipynb/nona_attacks.csv")